* {
    font-family: courier, monospace;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    display: flow;
    padding: 10px;
}

article label {
    display: block;
}

article:nth-child(2n) {
    background: ivory;
}

.external-link {
    font-size: 14px;
}